<p id="notice"><%= notice %></p>

<h1>Listing Warehouses</h1>
<%= link_to "Product", products_path %>
<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th>Qnty</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @warehouses.each do |warehouse| %>
      <tr>
        <td><%= @products.find(warehouse.product_id).name %></td>
        <td><%= warehouse.price %></td>
        <td><%= warehouse.qnty %></td>
        <td><%= warehouse.description %></td>
        <td><%= link_to 'Show', warehouse %></td>
        <td><%= link_to 'Edit', edit_warehouse_path(warehouse) %></td>
        <td><%= link_to 'Destroy', warehouse, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Warehouse', new_warehouse_path %>
