<p id="notice"><%= notice %></p>

<%= @warehouse.products.all.each do |p| %>
  <p>
    <strong>Product:</strong>
    <%= p.name %>
  </p>
<% end %>

<p>
  <strong>Price:</strong>
  <%= @warehouse.price %>
</p>

<p>
  <strong>Qnty:</strong>
  <%= @warehouse.qnty %>
</p>

<p>
  <strong>Description:</strong>
  <%= @warehouse.description %>
</p>

<%= link_to 'Edit', edit_warehouse_path(@warehouse) %> |
<%= link_to 'Back', warehouses_path %>
